* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

#name {
    background-color: #333;
    padding: 10px;
    color: #fff;
    font-size: 39px;
    text-align: left;
}

/* Style the slideshow */
#slideshow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#slideshow img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

/* Style the navigation */
nav {
    background-color: #444;
    width: 100%;
    z-index: 1; /* Ensure navigation is above other elements */
    transition: background-color 0.5s ease;
}

#main-nav {
    background-color: #444;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1; /* Ensure navigation is above other elements */
    transition: background-color 0.5s ease;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    color: greenyellow; 
}

a.active {
    color: greenyellow;
    transform: translateY(2px);
}

/* Additional Styles */
#about-section {
    margin-top: 150px; /* Adjust the margin-top value as needed */
    padding: 20px;
    background-color: #fff;
}

#artwork-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #334e41;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#artwork-section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
