* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

#name {
    background-color: #333;
    padding: 10px;
    color: #fff;
    font-size: 39px;
    text-align: left;
}

/* Style the slideshow */
#slideshow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#slideshow img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

/* Style the navigation */
nav {
    background-color: #444;
    width: 100%;
    z-index: 1; /* Ensure navigation is above other elements */
    transition: background-color 0.5s ease;
}

#main-nav {
    background-color: #444;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1; /* Ensure navigation is above other elements */
    transition: background-color 0.5s ease;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    color: greenyellow; 
}

a.active {
    color: greenyellow;
    transform: translateY(8px);
}

/* Additional Styles */
#about-section {
    margin-top: 150px; /* Adjust the margin-top value as needed */
    padding: 20px;
    background-color: #fff;
    border-color: #333;
    border: #333;
}

#artwork-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-section {
    margin-top: 150px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #333;
    width: 300px;
    margin: 0 auto;
}

#contact-section h2 {
    margin-bottom: 10px;
}

#contact-section form {
    display: flex;
    flex-direction: column;
}

#contact-section label {
    margin-bottom: 5px;
}

#contact-section input,
#contact-section textarea {
    margin-bottom: 10px;
    padding: 5px;
}
#contact-section input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

#contact-section input[type="submit"]:hover {
    background-color: greenyellow;
}

.logo-container {
    justify-content: left;
    align-items: left;
    background-color: #333;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    scale: 0.5;
    border-top: 5px solid #333;
    background-color: #333;
    
}
