@import url('https://fonts.googleapis.com/css2?family=Font1&family=Font2&display=swap');

.titleFont {
    background-color: #eaeaea;
    font-size: 36px;
    font-family: 'Font2', serif;
}

#authorFont {
    font-size: 24px;
    font-family: 'Font2', serif;
    font-weight: 100;
}

img {
    width: 200px;
    height: auto;
}

#publishing-dateFont {
    position: relative;
    top: 10px;
    font-style: italic;
}


#excerptFont {
    font-size: 18px;
    font-family: 'Font1', sans-serif;
    color: rgb(58, 58, 83);
    font-style: normal;
}

